body {
    background: #f6f6f6;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #c2c2c2;
}

span.todo-page {
    display: block;
    width: 150px;
    font-size: 14px;
    position: absolute;
    top: 13px;
    right: 33px;
}

span.todo-page a {
    color: #c2c2c2;
    -webkit-text-decoration-color: #d3d3d3;
            text-decoration-color: #d3d3d3;
}

span.todo-page a:hover {
    text-decoration: none;
    color: #ea596a;
}

a.github-link {
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 3px;
    right: 3px;
    background: none;
}

a.github-link svg {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    right: 50%;
    margin: -35% -35% 0 0;
}

a.github-link svg .fill {
    fill: rgba(234, 89, 106, .6);
}

a.github-link:hover svg .fill {
    fill: rgba(234, 89, 106, 1);
}

a#bePro {
    display: block;
    cursor: pointer;
    text-decoration: none;  
    width: 295px;
    margin: 0 auto;
}

a#bePro h1 {
    text-align: center;
    font-size: 100px;
    font-weight: 600;
    color: #dadada;
    margin-top: 45px;
    margin-bottom: 7px;  
    
    -webkit-transition: font-size .5s ease;
    -moz-transition: font-size .5s ease;
    -ms-transition: font-size .5s ease;
    -o-transition: font-size .5s ease;
    transition: font-size .5s ease;
}

a#bePro h1 span {
    color: rgba(234, 89, 106, .3);
}

h2 {
    color: #F3828E;
    margin-top: 30px;
    font-size: 30px;

    -webkit-transition: font-size .5s ease;
    -moz-transition: font-size .5s ease;
    -ms-transition: font-size .5s ease;
    -o-transition: font-size .5s ease;
    transition: font-size .5s ease;
}

div.container {
    margin-top: 30px;
}

div.container ul {
    width: 560px;
    padding-left: 0;
    font-size: 15px;
    margin: 0 auto;

    -webkit-transition: width .4s ease;
    -moz-transition: width .4s ease;
    -ms-transition: width .4s ease;
    -o-transition: width .4s ease;
    transition: width .4s ease;
}

div.container ul li {
    list-style-type: none;
    width: 100%;
    min-height: 50px;
    margin: 18px 0;
    padding: 16px;
    background: #fcfcfc;
    -webkit-box-shadow: 0 2px 7px rgba(40, 40, 40, .1);
            box-shadow: 0 2px 7px rgba(40, 40, 40, .1);
}

div.container ul li div {
    padding: 7px 0;
    color: #56525f;
}

div.container ul li div.icon {
    font-weight: 600;
    text-transform: uppercase;
}

div.container ul li div.link {
    line-height: 1.6;
}

div.container ul li div.link a {
    color: #56525f;
    -webkit-text-decoration-color: #bbb;
            text-decoration-color: #bbb;
}

div.container ul li div.link a:hover {
    text-decoration: none;
    color: #ea596a;
}

footer {
    text-align: center;
    font-size: 12px;
    color: #bababa;
    margin: 75px 0;
}

footer p {
    margin: 8px 0;
}

footer p a {
    color: #bababa;
    -webkit-text-decoration-color: #d3d3d3;
            text-decoration-color: #d3d3d3;
}

footer p a:hover {
    text-decoration: none;
    color: #ea596a;
}


/* MEDIA QUERIES */

@media screen and (max-width: 610px) {

    div.container ul {
        width: 470px;
    }

}

@media screen and (max-width: 558px) {

    a#bePro { 
        width: 265px;
    }

    a#bePro h1 {
        font-size: 90px;
    }

}

@media screen and (max-width: 505px) {

    h2 {
        font-size: 26px;
    }

    div.container ul {
        width: 430px;
    }

}

@media screen and (max-width: 488px) {

    a#bePro {
        width: 230px;
    }

    a#bePro h1 {
        font-size: 76px;
        margin-top: 59px;
    }

}

@media screen and (max-width: 465px) {

    div.container ul {
        width: 380px;
    }

}

@media screen and (max-width: 411px) {

    a#bePro {
        width: 205px;
    }

    a#bePro h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 25px;
    }

    div.container ul {
        width: 340px;
    }

}

@media screen and (max-width: 375px) {

    h2 {
        font-size: 20px;
    }

    div.container ul {
        width: 270px;
    }

}

@media screen and (max-width: 360px) {

    a#bePro {
        width: 195px;
    }

    a#bePro h1 {
        font-size: 65px;
    }

}